---
import Layout from '../layouts/Layout.astro'
import ModalEA from '../components/ModalEA.astro'
---

<Layout title='Contáctanos' header='Contáctanos'>
    <h3>Conta</h3>
    <ModalEA client:visible/>
</Layout>