---
import { Image } from 'astro:assets';

interface Props {
	link: ImageMetadata;
    title: string;
    reverse: boolean;
    id: string
    color:string
}

let { link,title,reverse,id,color } = Astro.props;
let bgColor = ` bg`+color.slice(6)
console.log(bgColor.includes('black'))
if(color.includes('black')){
    color = color.replace('black','white')
}
console.log(bgColor)
---



<div id={id} 
    class:list={[
        `flex flex-col flex-1  mb-4 h-96 justify-between border animate__animated 
        rounded-lg shadow border-8 `+color+bgColor,
        {
            "md:flex-row-reverse ":reverse,
            "md:flex-row ":!reverse,
            
        }
    ]}>
    <div class="md:w-1/2 ">
        <Image class="object-cover h-full  border-0" src={link} alt="Imagen de producto"></Image>

    </div>
    <div class="flex-1 w-full p-4 flex justify-center items-center flex-col leading-normal bg-black md:w-1/2">
        <h5 class=`mb-2 text-xl  md:text-2xl font-bold tracking-tight text-center text-white`+color>{title}</h5>
        <ul class="max-w-md space-y-1 text-center text-lg md:text-xl flex justify-center items-center flex-col"><slot /></ul>
    </div>
</div>

<style define:vars={{ bgColor }}>
    .animate__animated.animate__fadeInUp {
  --animate-duration: 1s; 
}


</style>

<script define:vars={{ id }}>
function isScrolledIntoView(el) {
    var rect = el.getBoundingClientRect();
    var elemTop = rect.top;
    var elemBottom = rect.bottom;

    // Only completely visible elements return true:
    var isVisible = (elemTop >= 0) && (elemBottom <= window.innerHeight);
    // Partially visible elements return true:
    isVisible = elemTop < window.innerHeight ;
    return isVisible;
}
let elmnt = document.getElementById(id);
if (elmnt.id.includes("1")){
    elmnt.classList.add("animate__fadeInUp")
}

document.addEventListener("scroll", (event) => {
    if(isScrolledIntoView(elmnt) && !elmnt.classList.contains("animate__fadeInUp")) { 
        elmnt.classList.add("animate__fadeInUp")};

});
</script>