---
import { Image } from 'astro:assets';

interface Props {
	link: ImageMetadata;
    title: string;
    reverse: boolean;
    id: string
}

const { link,title,reverse,id } = Astro.props;
let rowDir = "flex-row"
if(reverse == true){
    rowDir = "flex-row-reverse" 
}


---



<div id={id} 
    class:list={[
        `flex flex-col flex-1  mb-4 h-96 items-center justify-between bg-white border border-gray-200 
        rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 
        dark:hover:bg-gray-700 animate__animated animate__fadeInUp`,
        {
            "md:flex-row-reverse ":reverse,
            "md:flex-row ":!reverse

        }
    ]}>
    <div class="md:w-1/2">
        <Image class="object-cover  rounded-3xl p-2 " src={link} alt=""></Image>

    </div>
    <div class="h-full p-4 leading-normal md:w-1/2">
        <h5 class="mb-2 text-lg  md:text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{title}</h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><slot /></p>
    </div>
</div>

<style>
    .animate__animated.animate__fadeInUp {
  --animate-duration: 1s; 
}

</style>