---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

interface Props {
	data:string;
    link:string
}


const { data,link } = Astro.props;

---



<a href={link} target="_blank" class="flex flex-col items-center justify-center">
    <slot/>
    <p class="text-center text-lg">{data}</p>
</a>

