---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

interface Props {
	title: string;
	header:string;
}

const { title,header } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/doblec_logo.ico" />
		<meta name="generator" content={Astro.generator} />
		<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
		/>
		<title>{title}</title>
		
	</head>
	<body class="bg-black min-h-screen ">
		<Header/>
		<h2 class="my-11 text-3xl md:text-6xl tracking-tight text-center font-extrabold " style="color: #f8bc03;">
			{header}
		</h2>
		<main class="flex flex-col items-center px-4 m-auto">
			<slot />
		</main>
		<Footer/>
	</body>
</html>
<style is:global>
		@font-face {
	font-family: 'Segoe Script';
	src: url('../../public/fonts/segoesc.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	}
	html {
		font-family: system-ui, sans-serif;
		background: black;
		background-size: 224px;
		color-scheme: dark light;
		height: fit-content;
	}

</style>
